*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
main
{
border: 4px solid black;
max-width: 1000px;
margin: auto;
height: 100%;

}
header,section,footer
{
border: 2px solid black;
margin: 1rem;
text-align: center;
background-color: brown;
color: #fff;
}

header
{
min-height: 100px;

}
section
{
min-height: 200px;


}
footer
{
min-height: 300px;

}
article
{
display: flex;
}
.text1, .text2
{
width: 100%;


}
